RewriteEngine On
RewriteBase /Sistem_MEL/

# Direct requests to physical files or folders pass directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route everything else to index.php
RewriteRule ^(.*)$ index.php [QSA,L]
